installedtools.txt
/.venv
testing.py
workingCopy.py
copyfiles.spec
/dist
/build
Dockerfile
temp.pdf
temp.png
testing.spec
complete.ui
layout.ui
qtdirs.py
pyqt.py
output.py
setup.py
search-cat.ico
data.pickle
cmd_arg_copy.spec
auto_dest_copy.spec